Source: ros-rolling-srdfdom
Section: misc
Priority: optional
Maintainer: MoveIt Release Team <moveit_releasers@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), libboost-dev, libconsole-bridge-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest, ros-rolling-ament-cmake-pytest, ros-rolling-ament-cmake-python, ros-rolling-ament-lint-auto, ros-rolling-ament-lint-cmake, ros-rolling-console-bridge-vendor, ros-rolling-tinyxml2-vendor, ros-rolling-urdf, ros-rolling-urdfdom-headers, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/srdfdom
Standards-Version: 3.9.2

Package: ros-rolling-srdfdom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libconsole-bridge-dev, ros-rolling-console-bridge-vendor, ros-rolling-tinyxml2-vendor, ros-rolling-urdf, ros-rolling-urdfdom-py, ros-rolling-ros-workspace
Description: Parser for Semantic Robot Description Format (SRDF).
